/** 完全不看 */
.-no_see {
  display: none;
}

/** 折叠到高度只有 5px 的色块 鼠标移上去后可以看到 */
.-px5:not(:hover) {
  box-sizing: border-box;
  height: 5px;
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}
.-px5:not(:hover) ::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgb(161, 161, 161);
}
